#jinja2: lstrip_blocks: "True"
{% for i in logrotate_options %}
{{ i }}
{% endfor %}

# use the syslog group by default, since this is the owning group
# of /var/log/syslog.
su root syslog

rotate {{ logrotate_rotate }}
compresscmd {{ logrotate_compresscmd }}
compressoptions {{ logrotate_compressoptions }}
{% if logrotate_compressext is defined %}
compressext {{ logrotate_compressext }}
{% endif %}

size {{ logrotate_size }}

# packages can drop log rotation information into this directory.
include /etc/logrotate.d

{% for i in logrotate_rules %}
{{ i.name }} {
  {{ i.options | join("\n  ") }}
}
{% endfor %}
